page-login{
    ion-title *{
        margin-top: 30vh;
        margin-bottom: 5vh;
    }

}

.boton{
   width: 40%;
}

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }

.backgroud{
    background-color: black;
}